### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sch_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [15]:
#General idea of the dataset
sch_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
# Count schools/students
sch_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
#Name of schools in District
sch_names= sch_data_complete["school_name"].unique()
sch_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [18]:
#Total number of schools in District
total_sch=len(sch_data_complete["School ID"].unique())
total_sch

15

In [19]:
#Total number of students in District
total_students=len(sch_data_complete["Student ID"].unique())
total_students

39170

In [20]:
#Total Budget in District
budget=sch_data_complete["budget"].unique()
print(budget)
total_budget=budget.sum()
total_budget

[1910635 1884411 1056600 3022020  917500 1319574 1081356 3124928  248087
  585858 1049400 2547363 3094650 1763916 1043130]

24649428

In [21]:
#Calculate the average math score in District
avg_math_score=sch_data_complete["math_score"].mean()
avg_math= round(avg_math_score, 3)
avg_math

78.985

In [22]:
#Calculate the average reading score in District
avg_read_score=sch_data_complete["reading_score"].mean()
avg_read=round(avg_read_score, 3)
avg_read

81.878

In [23]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math=sch_data_complete["math_score"] >= 70
total_students_math=pass_math[pass_math== True].count()
perc_students_passingmath= round(total_students_math/total_students * 100, 3)
perc_students_passingmath

74.981

In [24]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_read=sch_data_complete["reading_score"] >= 70
total_students_read=pass_read[pass_read== True].count()
perc_students_passingread= round(total_students_read/total_students * 100, 3)
perc_students_passingread

85.805

In [28]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_math_read=sch_data_complete[(sch_data_complete["reading_score"]>= 70) &
                                (sch_data_complete["math_score"]>= 70)]
pass_total=pass_math_read.count(axis='columns')
pass_total.count()
perc_students_passed= round(pass_total.count()/total_students * 100, 3)
perc_students_passed

65.172

In [32]:
#Create a dataframe to hold the above results with optional formatting
district_data_df= pd.DataFrame({"Total # of Schools": total_sch, "Total # of Students": total_students,
                               "Total Budget": total_budget, "Average Math Score": avg_math,
                               "Average Reading Score": avg_read, "% of Students Passing Math": perc_students_passingmath,
                               "% of Students Passing Reading": perc_students_passingread,
                               "% of Students Passing Math & Reading": perc_students_passed})
district_data_df.head(1)

ValueError: If using all scalar values, you must pass an index

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type