### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sch_data_complete = student_data.merge(school_data, how="left", on="school_name")

In [2]:
#General idea of the dataset
sch_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Count schools/students
sch_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [4]:
#Name of schools in District
sch_names= sch_data_complete["school_name"].unique()
sch_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [5]:
#Total number of schools in District
total_sch=len(sch_data_complete["School ID"].unique())
total_sch

15

In [6]:
#Total number of students in District
total_students=len(sch_data_complete["Student ID"].unique())
total_students

39170

In [7]:
#Total Budget in District
budget=sch_data_complete["budget"].unique()
#print(budget)
total_budget=budget.sum()
total_budget

24649428

In [8]:
#Calculate the average math score in District
avg_math_score=sch_data_complete["math_score"].mean()
avg_math= round(avg_math_score, 3)
avg_math

78.985

In [9]:
#Calculate the average reading score in District
avg_read_score=sch_data_complete["reading_score"].mean()
avg_read=round(avg_read_score, 3)
avg_read

81.878

In [10]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math_df=sch_data_complete["math_score"] >= 70
total_students_math=pass_math_df[pass_math_df== True].count()
perc_students_passingmath= round(total_students_math/total_students * 100, 6)
perc_students_passingmath

74.980853

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_read_df=sch_data_complete["reading_score"] >= 70
total_students_read=pass_read_df[pass_read_df== True].count()
perc_students_passingread= round(total_students_read/total_students * 100, 6)
perc_students_passingread

85.805463

In [12]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_math_read_df=sch_data_complete[(sch_data_complete["reading_score"]>= 70) &
                                (sch_data_complete["math_score"]>= 70)]
pass_total=pass_math_read_df.count(axis='columns')
pass_total.count()
perc_students_passed= round(pass_total.count()/total_students * 100, 6)
perc_students_passed

65.172326

In [13]:
#Create a dataframe to hold the above results with optional formatting
district_total_df=pd.DataFrame({"Total Schools": total_sch, "Total Students": '{:,}'.format(total_students),
                               "Total Budget": ('${:,.2f}'.format(total_budget)), "Average Math Score": avg_math,
                               "Average Reading Score": avg_read, "% Passing Math": perc_students_passingmath,
                               "% Passing Reading": perc_students_passingread,
                               "% Overall Passing": perc_students_passed}, 
             columns=["Total Schools", "Total Students",  "Total Budget", "Average Math Score",  "Average Reading Score",
                     "% Passing Math", "% Passing Reading", "% Overall Passing"],
            index=[0])
district_total_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985,81.878,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
SchoolTypes = school_data.set_index(["school_name"])['type']

In [15]:
#Schools and Students
studentsgroup = sch_data_complete["school_name"].value_counts()
studentsgroup

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
#Total School Budget
sch_budget=sch_data_complete.groupby(["school_name"]).mean()["budget"]
sch_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
#Per Student Budget
stu_budget=sch_budget/studentsgroup
stu_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
#Average Math Score
sch_avg_math=sch_data_complete.groupby(["school_name"]).mean()["math_score"]
sch_avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#Average Reading Score
sch_avg_read=sch_data_complete.groupby(["school_name"]).mean()["reading_score"]
sch_avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#% Passing Math
stu_pass_math=sch_data_complete[(sch_data_complete["math_score"] >= 70)]
perc_stu_pass_math=stu_pass_math.groupby(["school_name"]).count()["student_name"]/studentsgroup*100
perc_stu_pass_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [21]:
#% Passing Reading
stu_pass_read=sch_data_complete[(sch_data_complete["reading_score"] >= 70)]
perc_stu_pass_read=stu_pass_read.groupby(["school_name"]).count()["student_name"]/studentsgroup*100
perc_stu_pass_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [22]:
#% Overall Passing
stu_pass_both=sch_data_complete[(sch_data_complete["reading_score"]>= 70) &
                                (sch_data_complete["math_score"]>= 70)]
stu_pass_group=stu_pass_both.groupby(["school_name"])
passed_both=stu_pass_group["student_name"].count()/studentsgroup *100
passed_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
#Create a dataframe to hold the above results
sch_summary_df= pd.DataFrame({"School Type": SchoolTypes,
                           "Total Students": studentsgroup,
                           "Total School Budget": sch_budget,
                           "Per Student Budget": stu_budget, 
                           "Average Math Score": round(sch_avg_math, 6),
                           "Average Reading Score": round(sch_avg_read, 6),
                           "% Passing Math": round(perc_stu_pass_math, 6),
                           "% Passing Reading": round(perc_stu_pass_read, 6),
                           "% Over Passing": round(passed_both, 6)})

sch_summary_df = pd.DataFrame(sch_summary_df)

#format
sch_summary_df['Total School Budget'] = sch_summary_df['Total School Budget'].map('${:,.2f}'.format)
sch_summary_df['Per Student Budget'] = sch_summary_df['Per Student Budget'].map('${:,.2f}'.format)
sch_summary_df['Total Students'] = sch_summary_df['Total Students'].map('{:,}'.format)


sch_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [24]:
#Find top performing
top_perform_df = sch_summary_df.sort_values('% Over Passing', ascending=False)
top_perform_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
#Find bottom performing
bottom_perform_df= sch_summary_df.sort_values('% Over Passing', ascending=True)
bottom_perform_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

*Scores by Grade
* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
#Create a table for each grade level
ninth = sch_data_complete[sch_data_complete['grade'] == '9th']
tenth = sch_data_complete[sch_data_complete['grade'] == '10th']
eleventh = sch_data_complete[sch_data_complete['grade'] == '11th']
twelfth = sch_data_complete[sch_data_complete['grade'] == '12th']

In [27]:
#Group each grade level by school
ninth_group = ninth.groupby(['school_name'])
tenth_group = tenth.groupby(['school_name'])
eleventh_group = eleventh.groupby(['school_name'])
twelfth_group = twelfth.groupby(['school_name'])

## Math Scores by Grade

In [28]:
math_ninth = ninth_group['math_score'].mean()
math_tenth = tenth_group['math_score'].mean()
math_eleventh = eleventh_group['math_score'].mean()
math_twelfth = twelfth_group['math_score'].mean()

#Create pandas series for each grade
math_grade= {'9th': round(math_ninth, 3) ,
       '10th': round(math_tenth, 3) ,
       '11th': round(math_eleventh, 3) ,
       '12th': round(math_twelfth, 3)}

#Create dataframe to hold pandas series
math_grade=pd.DataFrame(math_grade)

#Remove index for better formatting
math_grade.index.name = None

math_grade

                          9th    10th    11th    12th
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403  76.540  76.884  77.151
Ford High School       77.361  77.672  76.918  76.180
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787  83.430  85.000  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School  76.860  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School     83.590  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265  84.010  83.837  83.645

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
read_ninth = ninth_group['reading_score'].mean()
read_tenth = tenth_group['reading_score'].mean()
read_eleventh = eleventh_group['reading_score'].mean()
read_twelfth = twelfth_group['reading_score'].mean()

#Create pandas series for each grade
read_grade= {'9th': round(read_ninth, 3) ,
       '10th': round(read_tenth, 3) ,
       '11th': round(read_eleventh, 3) ,
       '12th': round(read_twelfth, 3)}

#Create dataframe to hold pandas series
read_grade=pd.DataFrame(read_grade)

#Remove index for better formatting
read_grade.index.name = None

read_grade

                          9th    10th    11th    12th
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409  80.640  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867  80.660  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School      81.290  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993  80.630  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School     83.940  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
#Create Bins
spending_bins = [0, 585, 615, 645, 675]

group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

sch_summary_df["Spending Ranges"] = pd.cut(stu_budget, spending_bins, labels=group_names)
mathspend = sch_summary_df.groupby(["Spending Ranges"]).mean()["Average Math Score"]
readspend = sch_summary_df.groupby(["Spending Ranges"]).mean()["Average Reading Score"]
passmathspend = sch_summary_df.groupby(["Spending Ranges"]).mean()["Average Math Score"]
passreadspend = sch_summary_df.groupby(["Spending Ranges"]).mean()["% Passing Reading"]
passoverallspend = sch_summary_df.groupby(["Spending Ranges"]).mean()["% Over Passing"]
spendsumm = sch_summary_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading", "% Over Passing"]]
spendsumm = pd.DataFrame({"Average Math Score"     :mathspend,
                          "Average Reading Score"     :readspend,
                          "% Passing Math"     :passmathspend,
                          "% Passing Reading"     :passreadspend,
                          "% Over Passing"     :passoverallspend})
#Format
spendsumm['Average Math Score'] = spendsumm['Average Math Score'].map('${:,.2f}'.format)
spendsumm['Average Reading Score'] = spendsumm['Average Reading Score'].map('${:,.2f}'.format)

spendsumm.groupby("Spending Ranges").head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Spending Ranges,,,,,
<$585,$83.46,$83.93,83.455399,96.610877,90.369459
$585-615,$83.60,$83.89,83.599686,95.900287,90.216324
$615-645,$79.08,$81.89,79.079225,86.106569,66.112060
$645-675,$77.00,$81.03,76.997210,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [31]:
size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
sch_summary_df["Size Ranges"] = pd.cut(studentsgroup, size_bins, labels=group_names2)
sizemath = sch_summary_df.groupby(["Size Ranges"]).mean()["Average Math Score"]
sizeread = sch_summary_df.groupby(["Size Ranges"]).mean()["Average Reading Score"]
sizepassmath =sch_summary_df.groupby(["Size Ranges"]).mean()["% Passing Math"]
sizepassread =sch_summary_df.groupby(["Size Ranges"]).mean()["% Passing Reading"]
sizeoverallpass = sch_summary_df.groupby(["Size Ranges"]).mean()["% Over Passing"]
sizesumm = sch_summary_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading", "% Over Passing"]]
sizesumm = pd.DataFrame({"Average Math Score"     :sizemath,
                          "Average Reading Score"     :sizeread,
                          "% Passing Math"     :sizepassmath,
                          "% Passing Reading"     :sizepassread,
                          "% Over Passing"     :sizeoverallpass})
sizesumm.groupby("Size Ranges").head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Size Ranges,,,,,
Small (<1000),83.821598,83.929844,93.550225,96.099436,89.883854
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [32]:
typemath = sch_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
typeread = sch_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
typepassmath =sch_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
typepassread =sch_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
typoverallpass = sch_summary_df.groupby(["School Type"]).mean()["% Over Passing"]
typesumm = pd.DataFrame({"Average Math Score"     :typemath,
                        "Average Reading Score"     :typeread,
                        "% Passing Math"          :typepassmath,
                        "% Passing Reading"           :typepassread,
                        "% Over Passing"          :typoverallpass})
typesumm = typesumm[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Over Passing"]]
typesumm.groupby("School Type").head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208