### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sch_data_complete = student_data.merge(school_data, how="left", on="school_name")

In [2]:
#General idea of the dataset
sch_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Count schools/students
sch_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [4]:
#Name of schools in District
sch_names= sch_data_complete["school_name"].unique()
sch_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [5]:
#Total number of schools in District
total_sch=len(sch_data_complete["School ID"].unique())
total_sch

15

In [6]:
#Total number of students in District
total_students=len(sch_data_complete["Student ID"].unique())
total_students

39170

In [7]:
#Total Budget in District
budget=sch_data_complete["budget"].unique()
#print(budget)
total_budget=budget.sum()
total_budget

24649428

In [8]:
#Calculate the average math score in District
avg_math_score=sch_data_complete["math_score"].mean()
avg_math= round(avg_math_score, 3)
avg_math

78.985

In [9]:
#Calculate the average reading score in District
avg_read_score=sch_data_complete["reading_score"].mean()
avg_read=round(avg_read_score, 3)
avg_read

81.878

In [10]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math_df=sch_data_complete["math_score"] >= 70
total_students_math=pass_math_df[pass_math_df== True].count()
perc_students_passingmath= round(total_students_math/total_students * 100, 3)
perc_students_passingmath

74.981

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_read_df=sch_data_complete["reading_score"] >= 70
total_students_read=pass_read_df[pass_read_df== True].count()
perc_students_passingread= round(total_students_read/total_students * 100, 3)
perc_students_passingread

85.805

In [12]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_math_read_df=sch_data_complete[(sch_data_complete["reading_score"]>= 70) &
                                (sch_data_complete["math_score"]>= 70)]
pass_total=pass_math_read_df.count(axis='columns')
pass_total.count()
perc_students_passed= round(pass_total.count()/total_students * 100, 3)
perc_students_passed

65.172

In [13]:
#Create a dataframe to hold the above results with optional formatting
district_total_df=pd.DataFrame({"Total Schools": total_sch, "Total Students": '{:,}'.format(total_students),
                               "Total Budget": ('${:,.2f}'.format(total_budget)), "Average Math Score": avg_math,
                               "Average Reading Score": avg_read, "% Passing Math": perc_students_passingmath,
                               "% Passing Reading": perc_students_passingread,
                               "% Overall Passing": perc_students_passed}, 
             columns=["Total Schools", "Total Students",  "Total Budget", "Average Math Score",  "Average Reading Score",
                     "% Passing Math", "% Passing Reading", "% Overall Passing"],
            index=[0])
district_total_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985,81.878,74.981,85.805,65.172

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
SchoolTypes = school_data.set_index(["school_name"])['type']

In [15]:
#Schools and Students
studentsgroup = sch_data_complete["school_name"].value_counts()
studentsgroup

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
#Total School Budget
sch_budget=sch_data_complete.groupby(["school_name"]).mean()["budget"]
sch_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
#Per Student Budget
stu_budget=sch_budget/studentsgroup
stu_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
#Average Math Score
sch_avg_math=sch_data_complete.groupby(["school_name"]).mean()["math_score"]
sch_avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#Average Reading Score
sch_avg_read=sch_data_complete.groupby(["school_name"]).mean()["reading_score"]
sch_avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#% Passing Math
stu_pass_math=sch_data_complete[(sch_data_complete["math_score"] >= 70)]
perc_stu_pass_math=stu_pass_math.groupby(["school_name"]).count()["student_name"]/studentsgroup*100
perc_stu_pass_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [21]:
#% Passing Reading
stu_pass_read=sch_data_complete[(sch_data_complete["reading_score"] >= 70)]
perc_stu_pass_read=stu_pass_read.groupby(["school_name"]).count()["student_name"]/studentsgroup*100
perc_stu_pass_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [22]:
#% Overall Passing
stu_pass_both=sch_data_complete[(sch_data_complete["reading_score"]>= 70) &
                                (sch_data_complete["math_score"]>= 70)]
stu_pass_group=stu_pass_both.groupby(["school_name"])
passed_both=stu_pass_group["student_name"].count()/studentsgroup *100
passed_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
#Create a dataframe to hold the above results
sch_summary_df= pd.DataFrame({"School Type": SchoolTypes,
                           "Total Students": studentsgroup,
                           "Total School Budget": sch_budget,
                           "Per Student Budget": stu_budget, 
                           "Average Math Score": round(sch_avg_math, 3),
                           "Average Reading Score": round(sch_avg_read, 3),
                           "% Passing Math": round(perc_stu_pass_math, 3),
                           "% Passing Reading": round(perc_stu_pass_read, 3),
                           "% Over Passing": round(passed_both, 3)})


#format
sch_summary_df['Total School Budget'] = sch_summary_df['Total School Budget'].map('${:,.2f}'.format)
sch_summary_df['Per Student Budget'] = sch_summary_df['Per Student Budget'].map('${:,.2f}'.format)
sch_summary_df['Total Students'] = sch_summary_df['Total Students'].map('{:,}'.format)




sch_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048,81.034,66.680,81.933,54.642
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.062,83.976,94.133,97.040,91.335
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.712,81.158,65.988,80.739,53.204
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.103,80.746,68.310,79.299,54.290
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351,83.817,93.392,97.139,90.599
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.290,80.934,66.753,80.863,53.528
Holden High School,Charter,427,"$248,087.00",$581.00,83.803,83.815,92.506,96.253,89.227
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629,81.183,65.684,81.316,53.514
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072,80.966,66.058,81.222,53.539
Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.595,95.946,90.541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.843,80.745,66.367,80.220,52.988
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359,83.726,93.867,95.855,89.892
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418,83.849,93.272,97.309,90.948
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274,83.989,93.868,96.540,90.583
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682,83.955,93.333,96.611,90.333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [26]:
#Find top performing
top_perform_df = sch_summary_df.sort_values('% Over Passing', ascending=False)
top_perform_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.062,83.976,94.133,97.040,91.335
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418,83.849,93.272,97.309,90.948
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351,83.817,93.392,97.139,90.599
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274,83.989,93.868,96.540,90.583
Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.595,95.946,90.541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [28]:
#Find bottom performing
bottom_perform_df= sch_summary_df.sort_values('% Over Passing', ascending=True)
bottom_perform_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.843,80.745,66.367,80.220,52.988
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.712,81.158,65.988,80.739,53.204
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629,81.183,65.684,81.316,53.514
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.290,80.934,66.753,80.863,53.528
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072,80.966,66.058,81.222,53.539

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type